# Lunch & Learn
----------------------
### What is Python? 
### Creation, Utility, Data Types and Data Structures

Computer scientists have created a series of derived languages for communicating with with computers in un-ambiguous ways. Every structure in a programming language has pricise form, or _syntax_ which has an exact meaning, _semantics_. This code is communicated in low-level language that only computers can interpret, while high-level languages interpret this language for the intent of human understanding and programmability. 

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 

Okay, so we get the notion of an 'interpreted' and 'high-level' language, but what is object oriented? 
* Object-Oriented Programming (OOP) is based on the concept of "objects" that can contain data in the form of attributes, procedures, properties and code. 
* The best way to think of objects in python is to use the analogy of a dog. A dog is a real, tangible thing that has characteristics, structure, attributes and capabilites that are specific to the fact that it is a dog. So, a dog can have hair (attribute), that hair can be a specific color (attribute value) and that dog can also do things, like bark (method). All of these are features of the object of a dog. This is inherently different than relational databases, in which only bare data is stored. 

Once you get the hang of the way to interact in python you will find that it it's simple, easy to learn syntax emphasizes readability and it's support of packages (a later tutorial) encourages program modularity and code reuse. Data scientists and programmers in general really like python for the incredible flexibility, productivity and capability it provides. (Source: <https://www.python.org/doc/essays/blurb/>)

--------------------------

### What We Will Discuss Today:
* Data Types
    * integers
    * floating point numbers
    * strings
    * boolean
* Built-In Functions
* Composite Data Types
* OOP
    * Methods
    * Attributes

__FYI:__ If you have not downloaded the Anaconda Suite and would like to code alongside this tutorial, please go to <https://github.com/showmalley/Lunch-Learn/blob/master/LunchLearn_HelloWorld.ipynb> to download the necessary environment. The tutorial will explain the steps, reasoning and tool sets within.

------------------

## Data Types

Every single value in python has a data type. Data types are a are simply a set of classifications that informs the data compiler or interpreter how you would like to use the data. The data type establishes that kinds of operations that can be performed on that object. For example, addition on a numeric value or regular expression on a textual value. Python has 4 major data types, each varying capabilities and characterstics.

### Integers

An integer is a whole number, and in python there is no limit as to the length of an integer, dissimilar to many relational databases. The integer data structure will be called an int.

This is an integer:

In [1]:
34

34

Check the type with the type() function

In [2]:
type(14)

int

Cast value to an integer with int() 
* If the value is not even, it will round to the nearest whole number. 
* If the value is not numeric, an error will be raised

In [3]:
int(15.2)

15

In [4]:
int("not an integer")

ValueError: invalid literal for int() with base 10: 'not an integer'

### Float

A floating point number is a numeric value specified with a decimal point. The data type is represented with the 'float' notation. Floats have the option of being represented in scientific notation, but don't fret, the underlying numeric is still a floating point value.

This is a float:

In [5]:
24.5

24.5

Check the type with the type() function

In [6]:
type(56.23)

float

Cast value to a float with float()
* If the value is an integer, it will simply add a decimal place with a zero
* If the value is a string, an error will be raised

In [7]:
float(100)

100.0

In [8]:
float("no float here")

ValueError: could not convert string to float: 'no float here'

### _A Quick Math Lesson_

Just a quick heads up, when utilizing integers or floating point values, you can perform math utilizing these values. Below are a couple quick examples:

Basic Arithmetic

In [9]:
100 + 5 - 25 / 2 * 3

67.5

Order of Operation

In [10]:
(20*10)/5

40.0

Power

In [11]:
5**5

3125

### Strings

Strings are a series of character data delimited by __either__ single __or__ double quotes. All characters between these quotes are part of the string. The data type is denoted by str.

Here is a string:

In [12]:
"Hello, string here!"

'Hello, string here!'

Check the type with the type() function:

In [13]:
type("Hello, string here!")

str

Cast value to a string with str():
* No matter the original data value, if cast you cast the value as a string the function will simply place quotes around the number therefore changing the value to a string

In [14]:
str(0.0)

'0.0'

In [15]:
str("I am already a string!")

'I am already a string!'

If your quote contains a quotation mark, you can utilize the escape character to ignore it and continue with the string.

In [16]:
"Like I said, \"I am already a string!\" Ignore my quotes."

'Like I said, "I am already a string!" Ignore my quotes.'

### Boolean

Booleans represent a logical propositions, such as True/False or 1/0. It is a binary variable that has two options for an answer. In both pythonic and data science thinking, many expressions are evaluated into boolean answers. This logic has its own data type, bool.

This is a boolean:

In [17]:
True

True

Check the type with the type() function:

In [18]:
type(False)

bool

Cast value to a boolean with bool():
* Casting and integer or float will evaluate to True for all non-zero values
    * 0 and 0.0 will evaluate to false
* Casting any string will evaluate to True
* Casting a boolean to an integer or float will evaluate to a 0 for False and 1 for True

In [19]:
bool(0.0)

False

In [20]:
bool("Random Values!")

True

In [21]:
int(False)

0

__FYI:__ It is important to note that out of the box python does not come with a date value type, however, when we dive into packages and importing capabilites and modules through python packages we will discuss that datetime object, which allows for fantastic date datatype capabilities.

-------------------------

### Built-In Functions 

Out of the box, python comes with a series of built-in functions that allow for some basic data type, mathematic and description capabilites. 

A function is not associated with any specific object in python, but is a utility in which allows one to interact with a value. Syntactically, a function looks like __function(value)__

Below are some common built-in functions:

Absolute Value

In [22]:
abs(-0.549)

0.549

Length

In [23]:
len("How many characters is this sentence?")

37

Round to the second decimal

In [24]:
round(43.12948, 2)

43.13

The type conversion function we have been using

In [25]:
int(43.12948)

43

--------------------
### Composite Data Types

We have taken an in depth look at the data types of values and some built-in functions we can utilize with the values, however, what about groups of values? what of data structures that exist in python as a way to organize these values?

### _list:_
* is a data structure that is a changeable, ordered sequence of elements
* each element or value inside of the list is called an item
* is denoted by a comma separated list of items wrapped in square brackets
* a list can contain a variety of data types or all one data type (often the latter is best practice)

In [26]:
["Word", 0, 4.30, True]

['Word', 0, 4.3, True]

We can still use type() here to see the data type:

In [27]:
type(["Word", 0, 4.30, True])

list

We can save the list object we've created by utilizing the __=__ notation and an object name.

In [28]:
example_list = ["Word", 0, 4.30, True]

...and subsequently we can print the list to have a look

In [29]:
print(example_list)

['Word', 0, 4.3, True]

If you feel so inclined, you can also select specific items from within our saved list by utilizing brackets. 

The index, or item count, starts at 0 in the python language; so to select the 'Word' item, we have to select the 0th element.

In [30]:
example_list[0]

'Word'

This is simply an introduction to lists in python, if you'd like to spend more time exploring and learning about lists, please check out the resources at the bottom of this tutorial.

### _tuple:_
* is a data structure that is a un-changeable python objects
* they are sequences, like lists, however they cannot be changed
* is denoted by a comma separated list of items wrapped in parentheses
* a tuple can contain a variety of data types or all one data type

In [31]:
(0.90, "Jump", "Run", 4, False, example_list)

(0.9, 'Jump', 'Run', 4, False, ['Word', 0, 4.3, True])

We can still use type() here to see the data type:

In [32]:
type((0.90, "Jump", "Run", 4, False, example_list))

tuple

We can save the list object we've created by utilizing the __=__ notation and an object name.

In [33]:
example_tuple = (0.90, "Jump", "Run", 4, False, example_list)

In [34]:
print(example_tuple)

(0.9, 'Jump', 'Run', 4, False, ['Word', 0, 4.3, True])

Similar to lists, you can select a single element from a tuple to view the item, however, you cannot alter that item, unlike a list.

In [35]:
example_tuple[2]

'Run'

In [36]:
example_tuple[2] = "Sit"

TypeError: 'tuple' object does not support item assignment

The above tuple alteration doesn't work, but below operation with a list does

In [37]:
example_list[2]

4.3

In [38]:
example_list[2] = "Sit"

In [39]:
example_list[2]

'Sit'

### _dict:_
* a dictionary is an un-ordered collection of values
* it stores values like a map, operating with __key : value__ pairs
* keys of a dictionary must be unique and immutable, but key-values can be repeated and of any type
* dictionaries are represented by comma separated pairs, colon separated keys and values; all surrounded by curly brackets

In [40]:
{"key1" : "value1", "key2" : 3.4}

{'key1': 'value1', 'key2': 3.4}

We can still use type() here to see the data type:

In [41]:
type({"key1" : "value1", "key2" : 3.4})

dict

We can save the list object we've created by utilizing the = notation and an object name.

In [42]:
example_dict = {"key1" : "value1", "key2" : 3.4}

In [43]:
print(example_dict)

{'key1': 'value1', 'key2': 3.4}

Accessing certain keys or values is slightly trickier in python dictionaries. 

To access all keys:

In [44]:
example_dict.keys()

dict_keys(['key1', 'key2'])

To access all values:

In [45]:
example_dict.values()

dict_values(['value1', 3.4])

In order to access all keys and values:

In [46]:
example_dict.items()

dict_items([('key1', 'value1'), ('key2', 3.4)])

Again, similar to lists, we simply dipped our toes into python dictionaries, in order to learn more, please check out the resources below.

### _Package Associated Data Structures:_

Dictionaries, tuples and lists are all composite data structures that exist agnostic of a specific package import. In the next tutorial, we will introduce numpy and pandas packages, each of which come with their own set of data structure options.

--------------------
### Useful Resources:
* Data Types: 
    * <https://realpython.com/python-data-types/>
    * <https://www.datacamp.com/community/tutorials/python-data-type-conversion>
* Data Structures:
    * <https://www.datacamp.com/community/tutorials/data-structures-python>
* Pandas
    * <https://www.learnpython.org/en/Pandas_Basics>
* Numpy
    * <http://cs231n.github.io/python-numpy-tutorial/>